---

---

<nav class="nav wrapper">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="/">Soda</a>
    </li>
    <li>
      <a href="/hover">Not and Hover</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/slider">Slider</a>
    </li>
  </ul>
</nav>

<style>
  .nav {
    padding: 1rem;
    color: rgb(255, 197, 8);
    font-weight: 600;
    & .nav__list {
      display: flex;
      justify-content: space-around;
    }
  }
</style>
